<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <title>Edit user</title>
</head>
<body>

<form action="#" th:action="@{/editUser}" method="post" th:object="${user}">

<!--    <input type="hidden" name="id" th:field = "*id"/> <br/>-->
    <input type="hidden" name="id" th:field = "*{id}"/> <br/>

    <label for="fn">First name: </label>
    <input type="text" id="fn"  th:field = "*{firstName}"/> <br/>
    <label for="ln">Last name: </label>
    <input type="text" id="ln"  th:field = "*{lastName}"/> <br/>
    <label for="em">E-mail: </label>
    <input type="text" id="em"  th:field = "*{email}"/> <br/>

    <input type="submit" value="save"/>
</form>


</body>
</html>