<!DOCTYPE html>
<html lang="en">
<head>
<!--    <meta charset="UTF-8">-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <title>Users table</title>
</head>
<body>
<h3>Users table</h3>
<br/>
<table>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Last name</th>
        <th>Email</th>
    </tr>
    <tr th:each = "user : ${users}">
        <td th:utext = "${user.id}"> </td>
        <td th:utext = "${user.firstName}"> </td>
        <td th:utext = "${user.lastName}"> </td>
        <td th:utext = "${user.email}"> </td>
		<td>
            <a th:href="@{/edit(id=${user.id})}">edit</a>
<!--            <a href="/edit?id=${user.id}">edit</a>-->
			<a th:href="@{/delete(id=${user.id})}">delete</a>
		</td>		
    </tr>
</table>

<h2> <a href="/addUser">Add new user</a> </h2>


<h3 th:utext="${result001}"></h3>

</body>
</html>